@font-face {
  font-family: "Raleway Regular";
  src: url(/content/dam/iffcotokio/fonts/Raleway-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway Medium";
  src: url(/content/dam/iffcotokio/fonts/Raleway-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url(/content/dam/iffcotokio/fonts/Raleway-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bold";
  src: url(/content/dam/iffcotokio/fonts/Raleway-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway ExtraBold";
  src: url(/content/dam/iffcotokio/fonts/Raleway-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --orange-color: #f17b3b;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 150px; */
}

.iffcotokio__container {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 150px; */
}

.mb-20 {
  margin-bottom: 20px;
}
