	<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='disclaimercomp'}"/>
</sly>


  <section id="disclaimer" class="iffcotokio__container disclaimer">
    <p class="disclaimer_heading">Disclaimer:</p>
    <p class="disclaimer_content">
      *Above mention discounts has been computed on the basis of the rates
      prescribed under erstwhile Indian Motor Tariff on OD premium and are
      only for indicative purpose.
    <p class="disclaimer_content">** Terms and conditions apply. For
      more information on Quick Claim Settlement. Click here </p>
    <p class="disclaimer_content">***
      Depreciation Waiver Cover is an add-on cover with additional premium
      payment. Kindly refer to Product Terms and Conditions for more
      information. </p>
    <p class="disclaimer_content">**** Road Side Assistance is an add-on cover given
      exclusively for online policy purchase.</p>
    <p class="disclaimer_content">
      We take privacy seriously. Filling this form confirms that you agree to
      receive a sales or service call from our employees/telecallers based on
      information you have submitted here.</p>
    <p class="disclaimer_content mb-20">
      IFFCO Tokio General Insurance Company Limited. Corporate Address - IFFCO
      Tower, Plot No.3, Sector-29, Gurgaon ,Haryana -122001. Insurance is the
      subject matter of the solicitation. Purchase of IFFCO Tokio General
      Insurance Company Limited products is purely on voluntary basis. For
      more details on risk factors, terms and conditions please read sales
      brochure carefully before concluding a sale. IRDAI Regn. No.: 106; CIN:
      U74899DL2000PLC107621; UAN No: ITGI/18-19/INSADVT/DIGITAL/MOTOR-04 .
      Toll Free Number: 1800 103 5499, Email Id: support@iffcotokio.co.in, Fax
      Number - 0124 - 2577923 & Visit us at www.iffcotokio.co.in
    </p>
    <p class="disclaimer_heading">Privacy Policy:</p>
    <p class="disclaimer_content">
      Your personal information (Vehicle Type, Registration State,
      Registration City, Registraion Date, Manufacturer, Model, Varient,
      Mobile No., Email Id) submitted will not be sold, shared or rented to
      others. We use this information to send updates about our company and
      products and contact you if requested or find it necessary. You may opt
      out of receiving our communication by clicking on the unsubscribed link
      mention in mail.
    </p>
  </section>