	<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='disclaimercomp'}"/>
</sly>


  <section id="disclaimer" class="iffcotokio__container disclaimer">

	<sly data-sly-list="${resource.children}">
      			<sly data-sly-test="${item.name=='desclaimerNodes'}">
        			<sly data-sly-list.card="${item.children}">
						<p class="disclaimer_heading">${card.descmHeading}</p>
    					<p class="disclaimer_content">
								${card.descmText}
                        </p>
					</sly>
				</sly>
			</sly>

  </section>