.testimonials_wrapper {
  width: 100%;
  background: url(/content/dam/iffcotokio/images/testimonials_bg.svg) no-repeat;
  background-size: cover;
}

.testimonials {
  position: relative;
  text-align: center;
}

.testimonials_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.testimonials_heading {
  font-family: "Raleway Bold", sans-serif;
  font-size: 40px;
  padding: 30px 0 36px 0;
}

.testimonial_card {
  width: 317px;
  height: 175px;
  position: relative;
  text-align: start;
}

.testimonial_card .card_bg,
.testimonial_card .man_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.testimonial_card .man_img {
  left: 3.5%;
  bottom: 0;
}

.testimonial_innercard {
  position: absolute;
  top: 27px;
  left: 108px;
  z-index: 3;
}

.quote_img {
  width: 22px;
  height: 22px;
}

.testimonial_card_content {
  font-size: 12px;
  font-family: "Raleway SemiBold", sans-serif;
  color: #427779;
  margin: 4px 0;
}

.testimonial_card_author {
  font-size: 17px;
  font-family: "Raleway Bold", sans-serif;
  color: #733a7e;
}

.dots {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.dots div {
  width: 13px;
  height: 12px;
  background: #7c7f80;
  border-radius: 50%;
  margin: 0 5px;
}

.dots div:nth-child(2) {
  background: #363636;
}

.benefits_cards .slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  width: fit-content !important;
  margin: 0 15px;
}